# vim swap files
*.swp
*.swo
.*.sw?

# Mac OS X 
.DS_Store

# emacs temp files
*~
.#*
\#*#

# pset zip files
ps1.zip
ps2.zip
ps3.zip
ps4.zip
ps5.zip
ps6.zip
ps7.zip
ps8.zip

# ocaml temp build files
*.cmi
*.cmo
*.mli
# type annotations
*.annot

# grades
grades/total.grade

# ignore the 153 .git for now.
*.git153

# pset 1 ignore files
ps1/lex.ml
ps1/parse.ml
ps1/ps1comb
ps1/ps1yacc

# pset 2 ignore files
ps2/lex.ml
ps2/parse.ml
ps2/compiled
ps2/ps2

# pset 3 ignore files
ps3/compiled
ps3/lex.ml
ps3/parse.ml
ps3/ps3

# pset 4 ignore files
ps4/*_lex.ml
ps4/*_parse.ml
ps4/ps4_*

# pset 5 ignore files
ps5/*_lex.ml
ps5/*_parse.ml
ps5/ps5_*

# pset 6 ignore files
ps6/monadic
ps6/ps6_*
ps6/*_lex.ml
ps6/*_parse.ml
ps6/*.out

# pset 7 ignore files
ps7/ps7_cfg
ps7/*_lex.ml
ps7/*_parse.ml
