# vim swap files
*.swp
*.swo

# pset zip files
ps1.zip
ps2.zip

# ocaml temp build files
*.cmi
*.cmo
*.mli

# ignore the 153 .git for now.
*.git153

# pset 1 ignore files
ps1/lex.ml
ps1/parse.ml
ps1/ps1comb
ps1/ps1yacc

# pset 2 ignore files
ps2/lex.ml
ps2/parse.ml
ps2/compiled
ps2/ps2
